<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title data-th-text="${loggedinUser.name}+' | Dashboard'">Dashboard page</title>
</head>
<body>

    <div id="content">

        <div th:if="${loggedinUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}">
    
            </div>
        </div>
    


    <div  class="pl-64 pt-16" style="height:1000px">
        <div class="flex justify-center flex-col items-center">
            <h1 class="text-4xl">Welcome to Dashboard page</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium similique est voluptatum iure dolores recusandae provident suscipit. Quia, aperiam?</p>
        </div>
    </div>


</div>


    <script>
        console.log("This is a profile page")
    </script>
</body>
</html>