<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>About page</title>
</head>
<body>
    <div id="content">
        <section class="py-20 bg-white">
            <div class="container mx-auto text-center">
              <h2 class="text-3xl font-bold mb-12 animate__animated animate__fadeInUp">Made By Us</h2>
              <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="p-6 bg-gray-100 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105">
                    <img src="/images/rudra.jpg" class="mb-4 text-4xl" alt="rudra">
                  
                  <h3 class="text-xl font-semibold mb-2">Rudraprasad Satapathy</h3>
                  <p class="text-gray-600">Spring book and backend Intigration part.</p>
                </div>
                <div class="p-6 bg-gray-100 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105">

                    <img src="/images/bibhu.jpg" class="mb-4 text-4xl" alt="rudra">
                  <h3 class="text-xl font-semibold mb-2">Bibhu prasad Bisoyi</h3>
                  <p class="text-gray-600">ThymeLeaf part for backend to frontend seamless connection. </p>
                </div>
                <div class="p-6 bg-gray-100 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105">
                    <img src="/images/sanket.jpg" class="mb-4 text-4xl" alt="rudra">
                  <h3 class="text-xl font-semibold mb-2">Sanket Mishra</h3>
                  <p class="text-gray-600">Worked in javaScript based works like theme buttons and the excl export etc.</p>
                </div>
              </div>
            </div>
          </section>
          <!-- Call to Action Section -->
          <section class="bg-blue-600 text-white py-20 animate__animated animate__fadeInUp">
            <div class="container mx-auto text-center">
              <h2 class="text-3xl font-bold mb-4">Minor Project III</h2>
              <p class="text-lg mb-8"><span class="text-green-400">"</span>Sec K , 22cse554 , 22cse581 , 22cse515 <span class="text-red-600">"</span></p>
              
            </div>
          </section>
    </div>
    <script>
        console.log("about page")
    </script>
</body>
</html>