<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>About page</title>
</head>
<body>
    <div id="content">
          <section class="py-20 bg-white">
            <div class="container mx-auto text-center">
              <h2 class="text-3xl font-bold mb-12 animate__animated animate__fadeInUp">Made By</h2>

                <div class="flex justify-center">
                  <a href="https://www.linkedin.com/in/rudraprasad-satapathy-93855b253" target="_blank" rel="noopener noreferrer"
                    class="p-6 bg-gray-100 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105 block max-w-xs">
                    <img src="/images/rudra.jpg" class="mb-4 rounded-full w-24 h-24 mx-auto object-cover" alt="rudra">
                    <h3 class="text-xl font-semibold mt-4">Rudraprasad Satapathy</h3>
                  </a>
                </div>

            </div>
          </section>

          <!-- Call to Action Section -->
          <section class="bg-blue-600 text-white py-20 animate__animated animate__fadeInUp">
            <div class="container mx-auto text-center">
              <h2 class="text-3xl font-bold mb-4">About</h2>
              <p class="text-lg mb-8"><span class="text-green-400">"

              </span>🚀 Final-year B.Tech student passionate about backend development, cloud technologies, and building scalable applications using Java and Spring Boot. I’ve developed hands-on experience through academic projects and self-driven learning, working with modern tools and frameworks to build real-world solutions.
              I enjoy solving problems and exploring Spring-based ecosystems. I’ve implemented CRUD-based apps using Spring Boot, Hibernate, and JSP, and I’m comfortable with Git-based collaboration and basic cloud services like AWS.
              <br><br>
              Currently looking for backend development roles (Java/Spring Boot) where I can grow, contribute, and learn in a collaborative environment — open to internships or full-time opportunities.
              <br><br>
                🧰 Tech Stack : <br>
                Languages: Java <br>
                Database: SQL <br>
                Frameworks & Libraries: Spring Boot, Spring Cloud, Spring, Hibernate, JSP, JUnit, Mockito <br>
                Concepts: Data Structures & Algorithms, OOPS, REST APIs <br>
                Others: AWS, GIT, JPA ,Thymeleaf <br>
                <br>
                📍 Location: India (GMT+5:30) <br>
                🤝 Let’s connect!
              <span class="text-red-600">"</span></p>
              
            </div>
          </section>
    </div>
    <script>
        console.log("about page")
    </script>
</body>
</html>