<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{})}">
<head>
    <title>Services page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to service page</h1>
        <h2>Services offered by scm</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eos unde consectetur veniam qui quidem, consequatur libero odio magnam officia?
    </section>

    <script>
        console.log("service page")
    </script>
</body>
</html>